/* цвет заголовков #212121 */
/* цвет основного цвета #757575 */
/* цвет курсора текста #2196F3 */
/* цвет лого #2196f3 */
/* цыет лого #212121 */
/* цвет фона #ffffff */
/* цвет services / footer #2f303a */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #2196f3;
  --title-text-color: #212121;
  --primary-font-color: #ffffff;
  --secondary-font-color: #f5f4f4;
  --third-font-color: #2f303a;
}

body {
  background-color: var(--primary-font-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
h1 h2 h3 h4 h5 h6 {
  font-family: Raleway, sans-serif;
  color: var(--title-text-color);
}

li {
  list-style: none;
}

.logo {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-color {
  color: var(--secondary-text-color);
}


.nav-link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}
.nav-link-active {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--secondary-text-color);
}

.contact-link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  font-style: normal;
  font-family: Roboto; 
  letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--secondary-text-color);
}


/* portfolio */

.button-portfolio {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  border: none;
  font-style: normal;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--secondary-text-color);
  color: var(--primary-font-color);
}

.services {
  background-color: var(--third-font-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
}

.services-title {
  color: var(--primary-font-color);
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}

.button-services {
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background-color: var(--secondary-text-color);
  color: var(--primary-font-color);
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.button-services:hover {
  color: var(--secondary-text-color);
}
  /* identical to box height, or 187% */
  /* letter-spacing: 0.06em;
  color: var(--primary-font-color);
  font-style: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  position: relative;
  left: 50%;
  text-transform: uppercase;
  background-color: var(--secondary-text-color); */
  }

.footer {
  background: #2f303a;
}
.logo-colors {
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.address {
  color: var(--primary-font-color);
  font-style: normal;
}

.class-li {
  font-style: normal;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
